body {
    margin: 0; /* Entfernt den Standard-Rand des Browsers */
    padding: 0;
    overflow: hidden; /* Verhindert jegliches Scrollen */
}

.game-canvas {
    display: block;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: url('/images/field.png') center/cover no-repeat;
}
